.generator {
  background-color: transparent;

  .panel {
    display: flex;
    flex-direction: row;
    background: gray;

    col {
      display: flex;
    }

    .input-group {
      width: auto;

      input {
        padding: 8px 16px;
        border: 1px inset blue;

        border-right: 0;
      }

      button {
        padding: 8px 16px;
        border: 0;
        border: 1px inset blue;
        border-left: 0;
      }

      label {
        width: 100%;
        display: block;
        font-size: .8rem;
      }
    }
  }
}
