@import '../../../assets/styles/vars.scss';

.generator {
  display: flex;
  justify-content: center;
  background-color: transparent;

  .panel {
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: $space-large;
    background: $bg-light;

    .col {
      display: flex;
      flex-direction: column;
      padding: 0 $space;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: stretch;
      padding: $space-small;

      input {
        display: inline-block;
      }
    }

    .labels {
      display: flex;
      align-items: flex-end;
    }

    label {
      width: 100%;
      display: block;
      font-size: .8rem;
      padding: $space-small 0;
      font-weight: 700;

      &.message {
        font-size: 0.7rem;
        text-align: right;
      }

      &.error {
        color: $danger;
      }

      &.info {
        color: $info;
      }

    }

    input {
      display: inline-block;
      padding: 0 $space;
      line-height: calc($space * 4);
      background-color: #fff;
      border-width: 2px;
      border-style: inset;
      border-color: lighten($light-color, 8%);
      border-radius: $space-small;

      &:focus-visible {
        outline: none;
        border-color: $light-color;
      }

      &.info {
        border-color: lighten($info, 8%);

        &:focus-visible {
          outline: none;
          border-color: $info;
        }
      }


    }

    input[type=number] {
      padding-right: 0;
    }

    button {
      display: flex;
      padding: $space $space-medium;
      border: 0;
      border-width: 2px;
      border-style: inset;
      border-color: $light-color;
      border-radius: $space-small;
      background-color: lighten($light-color, 8%);
      color: #fff;

      &:hover {
        background-color: darken($light-color, 8%);
      }

      &.icon {
        background-color: #fff;
        color: $text-color;
        border-color: darken(#fff, 8%);

        &:hover {
          background-color: darken(#fff, 8%);
        }
      }

      &.info {
        background-color: $info;
        color: #fff;
        border-color: lighten($info, 8%);

        &:hover {
          background-color: darken($info, 8%);
        }
      }
    }

    .input-group {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      width: auto;

      input {
        flex-grow: 1;
        border-right-width: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      button {
        flex-shrink: 1;
        white-space: nowrap;
        border-left-width: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      &.info {
        input {
          border-color: lighten($info, 8%);

          &:focus-visible {
            outline: none;
            border-color: $info;
          }
        }

        button {
          background-color: $info;
          color: #fff;
          border-color: lighten($info, 8%);

          &:hover {
            background-color: darken($info, 8%);
          }

          &.icon {
            background-color: #fff;
            color: $text-color;

            &:hover {
              background-color: darken(#fff, 8%);
            }
          }
        }
      }
    }

    .subsidiaries {
      margin-top: $space-large;
      display: flex;
      flex-direction: column;

      &.d-none {
        display: none;
      }
    }

  }
}
