* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #002025;
  color: #ffc0c5;
}

h1, h2, h3, h4 {
  width: 100%;
  display: block;
}

div {
  width: 100%;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

