$bg-light: #dfd;
$bg-dark: #233;
$text-color: #333;
$light-color: #677;
$dark-color: #122;
$primary: #023047;
$success: #14FF76;
$info: #734DFF;
$danger: #FF3021;
$emphasis: #FAE100;

$space: 8px;
$space-tiny: calc($space / 4);
$space-small: calc($space / 2);
$space-medium: calc($space * 2);
$space-large: calc($space * 3);
